---
contextFiles: "../package.json"
functionFiles: "../functions-js.js"
rootFunctionFiles: "../functions-js.js"
---

{{ package.name | addHelloJs  }}
{{ package.name | addHelloTs  }}
{{ package.name | functionsJsAddHelloJs }}
{{ package.name | functionsTsAddHelloTs }}
